CORS_ORIGIN_ALLOW_ALL=1
APPLY_MIGRATIONS=1
ADD_DEFAULT_LANGUAGES=1
DEBUG=1
DATABASE_URL=postgres://kukkuu:kukkuu@localhost:5434/kukkuu
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001,http://localhost:3002
CORS_ORIGIN_ALLOW_ALL=True
# For Keycloak test environment authentication service:
TOKEN_AUTH_AUTHSERVER_URL=https://tunnistus.test.hel.ninja/auth/realms/helsinki-tunnistus
# For local Tunnistamo authentication service:
# TOKEN_AUTH_AUTHSERVER_URL=http://tunnistamo-backend:8000/openid
TOKEN_AUTH_ACCEPTED_AUDIENCE=kukkuu-api-dev,profile-api-test
TOKEN_AUTH_ACCEPTED_SCOPE_PREFIX=
TOKEN_AUTH_REQUIRE_SCOPE_PREFIX=False
GDPR_API_QUERY_SCOPE=gdprquery
GDPR_API_DELETE_SCOPE=gdprdelete
GDPR_API_AUTHORIZATION_FIELD=authorization.permissions.scopes
HELUSERS_BACK_CHANNEL_LOGOUT_ENABLED=True
KUKKUU_HASHID_SALT=ULGd5YeRv6yVtvoj
KUKKUU_TICKET_VERIFICATION_URL=http://localhost:3000/ticket-verification-endpoint/{reference_id}
MAIL_MAILGUN_KEY=
MAIL_MAILGUN_DOMAIN=hel.fi
MAIL_MAILGUN_API=https://api.eu.mailgun.net/v3
KUKKUU_NOTIFICATIONS_SHEET_ID=1TkdQsO50DHOg5pi1JhzudOL1GKpiK-V2DCIoAipKj-M