CORS_ORIGIN_ALLOW_ALL=1
APPLY_MIGRATIONS=1
CREATE_SUPERUSER=1
ADD_DEFAULT_LANGUAGES=1
DEBUG=1
DATABASE_URL=postgres://kukkuu:kukkuu@localhost:5434/kukkuu
CORS_ORIGIN_WHITELIST=http://localhost:3000,http://localhost:3001,http://localhost:3002
CORS_ORIGIN_ALLOW_ALL=True
# TOKEN_AUTH_AUTHSERVER_URL=https://tunnistamo.test.kuva.hel.ninja/openid
TOKEN_AUTH_AUTHSERVER_URL=http://tunnistamo-backend:8000/openid
KUKKUU_HASHID_SALT=ULGd5YeRv6yVtvoj
KUKKUU_TICKET_VERIFICATION_URL=http://localhost:3000/ticket-verification-endpoint/{reference_id}
MAIL_MAILGUN_KEY=
MAIL_MAILGUN_DOMAIN=hel.fi
MAIL_MAILGUN_API=https://api.eu.mailgun.net/v3
KUKKUU_NOTIFICATIONS_SHEET_ID=1TkdQsO50DHOg5pi1JhzudOL1GKpiK-V2DCIoAipKj-M