Django~=4.2
django-cors-headers
django-environ
django-helusers
django-ilmoitin
django-parler
django-cleanup
django-filter
django-storages[google, azure]
factory-boy
graphene-django
graphene-file-upload
psycopg2
sentry-sdk
Pillow
pycountry
pytz
django-guardian
requests
djangorestframework
drf-spectacular
hashids
qrcode
helsinki-profile-gdpr-api
markdown