defusedxml>=0.8.0rc2  # Allow pre-release version, please remove when stable up-to-date
django-auditlog
django-cleanup
django-cors-headers
django-csp
django-environ
django-filter
django-graphql-jwt
django-guardian
django-health-check
django-helusers
django-ilmoitin
django-parler
django-storages[azure]
djangorestframework
Django~=5.2
drf-spectacular
factory-boy
graphene-django
graphene-file-upload
hashids
helsinki-profile-gdpr-api
markdown
Pillow
psycopg[c]
pycountry
qrcode
requests
sentry-sdk
social-auth-app-django
django-auditlog-extra@https://github.com/City-of-Helsinki/django-auditlog-extra/archive/bff5fa3921d6821bebdd6be6c9fd20db39d32d54.zip
