Greetings Culture Kid!

{{ event_group.description }}

Sign up and read more in our service
{{ event_group_url }}


Culture Kids
Culture Kids is a programme that pairs children living in Helsinki with a sponsor from the world of arts and culture. All of the city’s little ones born in or after 2020 are invited to join. The Culture Kids sponsor invites the children and a member of their family to at least two events every year. The events support children’s development and promote the wellbeing of the entire family. The sponsorship continues until the child starts primary school.
All events are free-of-charge for the children participating in the programme.
The Culture Kids programme is arranged by the City of Helsinki Culture and Leisure Division.

https://kummilapset.hel.fi
kulttuurin.kummilapset@hel.fi

I no longer want to receive email about the publication of events: {{unsubscribe_url}}.
