<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="utf-8" />
    <title>Inbjudan för Kulturens fadderbarn!</title>
  </head>
  <body>
    <h1>Bästa Kulturens fadderbarn!</h1>

    <p>{{ event.description }}</p>

    <p>
      Anmäl dig på:
      <a href="{{ event_url }}">{{ event_url }}</a>
    </p>

    <h2>Kulturens fadderbarn</h2>
    <p>
      Alla barn i Helsingfors som är födda 2020 och därefter har en egen
      kulturfadder. Kulturfaddern bjuder in barnet till minst två evenemang per
      år. Evenemangen planeras så att de passar barnets utvecklingsnivå, och de
      stöder hela familjens välmående. Fadderskapet fortsätter tills barnet
      börjar skolan. Evenemangen är avgiftsfria för familjerna. Tjänsten
      Kulturens fadderbarn förvaltas av Kultur- och fritidssektorn i Helsingfors
      stad.
    </p>

    <address>
      <a href="https://kummilapset.hel.fi">kummilapset.hel.fi</a><br />
      <a href="mailto:kulttuurin.kummilapset@hel.fi"
        >kulttuurin.kummilapset@hel.fi</a
      >
    </address>

    <p>
      Jag vill inte längre få e-post om publiceringen av evenemang:
      <a href="{{unsubscribe_url}}">{{unsubscribe_url}}</a>
    </p>
  </body>
</html>
