Hei Kulttuurin kummilapsi!

{{ event_group.description }}

Ilmoittaudu ja lue lisää osoitteessa
{{ event_group_url }}


Kulttuurin kummilapset
Jokaisella vuonna 2020 tai sen jälkeen syntyvällä helsinkiläisellä lapsella on oma kulttuurikummi.
Kulttuurikummi kutsuu lapsen joka vuosi vähintään kahteen tapahtumaan. Tapahtumat suunnitellaan lapsen kehitysvaiheelle sopiviksi ja ne tukevat koko perheen hyvinvointia. Kummius jatkuu siihen asti, kunnes lapsi aloittaa koulun.
Tapahtumat ovat perheille maksuttomia.
Kulttuurin kummilapset -palvelua hallinnoi Helsingin kulttuurin ja vapaa-ajan toimiala.

https://kummilapset.hel.fi
kulttuurin.kummilapset@hel.fi


En halua enää viestejä kummitapahtumien julkaisusta: {{unsubscribe_url}}.
