Bästa Kulturens fadderbarn!

{{ event.description }}

Anmäl dig på
{{ event_url }}


Kulturens fadderbarn
Alla barn i Helsingfors som är födda 2020 och därefter har en egen kulturfadder. Kulturfaddern bjuder in barnet till minst två evenemang per år. Evenemangen planeras så att de passar barnets utvecklingsnivå, och de stöder hela familjens välmående. Fadderskapet fortsätter tills barnet börjar skolan.
Evenemangen är avgiftsfria för familjerna.
Tjänsten Kulturens fadderbarn förvaltas av Kultur- och fritidssektorn i Helsingfors stad.


https://kummilapset.hel.fi
kulttuurin.kummilapset@hel.fi

{% if is_obsolete %} Detta meddelande har skickats till e-postadressen för en fadderbarnsprofil som inte längre är i bruk. Om du redan har registrerat barnet på nytt på vår webbplats  https://kummilapset.hel.fi, och inte längre vill få e-postmeddelanden för den profil som inte längre är i bruk, klicka här {{unsubscribe_url}}.
{% else %} Jag vill inte ha några fler meddelanden om publicering av evenemang: {{unsubscribe_url}} {% endif %}
