<!DOCTYPE html>
<html lang="fi">
  <head>
    <meta charset="utf-8" />
    <title>Sähköpostiosoite vaihdettu Kulttuurin kummilapset -palvelussa</title>
  </head>
  <body>
    <p>
      Vaihdoit sähköpostiosoitteesi Kulttuurin kummilapset -palvelussa. Jatkossa
      saat kaikki toimintaan liittyvät tapahtumakutsut ja muut ilmoitukset tähän
      osoitteeseen.
    </p>

    <address>
      <a href="https://kummilapset.hel.fi">kummilapset.hel.fi</a><br />
      <a href="mailto:kulttuurin.kummilapset@hel.fi"
        >kulttuurin.kummilapset@hel.fi</a
      >
    </address>
  </body>
</html>
