<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="utf-8" />
    <title>Bekräfta e-postadressen</title>
  </head>
  <body>
    <h1>Verifiera din e-postadress</h1>

    <p>
      Du håller på att ändra en e-postadress i tjänsten Kulturens fadderbarn.
      Använd koden nedan för att verifiera din e-postadress.
    </p>

    <p>
      Om du inte vill ändra din e-postadress i Kulturens fadderbarn, vänligen
      ignorera detta meddelande.
    </p>

    <p>
      <strong>Kulturens fadderbarn verifieringskod:</strong><br />
      {{verification_token}}
    </p>
  </body>
</html>
