<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>
      Your email address has been changed in the Culture Kids -service
    </title>
  </head>
  <body>
    <p>
      You changed your email in the Culture Kids service. You'll receive all the
      upcoming event invitations and other notifications to this address from
      now on.
    </p>

    <address>
      <a href="https://kummilapset.hel.fi">kummilapset.hel.fi</a><br />
      <a href="mailto:kulttuurin.kummilapset@hel.fi"
        >kulttuurin.kummilapset@hel.fi</a
      >
    </address>
  </body>
</html>
