<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="utf-8" />
    <title>E-postadress ändrad i Kulturens fadderbarn -tjänsten</title>
  </head>
  <body>
    <p>
      Du har ändrat din e-post i Kulturens fadderbarn-tjänsten. Från och med nu
      kommer du att få alla inbjudningar till evenemang och andra meddelanden
      till denna adress.
    </p>

    <address>
      <a href="https://kummilapset.hel.fi">kummilapset.hel.fi</a><br />
      <a href="mailto:kulttuurin.kummilapset@hel.fi"
        >kulttuurin.kummilapset@hel.fi</a
      >
    </address>
  </body>
</html>
