<!DOCTYPE html>
<html lang="fi">
  <head>
    <meta charset="utf-8" />
    <title>Vahvista sähköpostiosoitteesi</title>
  </head>
  <body>
    <h1>Vahvista sähköpostiosoitteesi</h1>

    <p>
      Olet vaihtamassa sähköpostiosoitetta Kulttuurin kummilapsiin. Käytä
      allaolevaa koodia vahvistaaksesi sähköpostiosoitteesi.
    </p>

    <p>
      Jos et ole vaihtamassa sähköpostiosoitetta Kulttuurin kummilapsiin, voit
      jättää tämän viestin huomioimatta.
    </p>

    <p>
      <strong>Kulttuurin kummilapsien vahvistuskoodi:</strong><br />
      {{verification_token}}
    </p>
  </body>
</html>
