<!DOCTYPE html>
<html lang="fi">
  <head>
    <meta charset="utf-8" />
    <title>Ilmoittautumisen peruutus: {{ event.name }}</title>
  </head>
  <body>
    <p>
      Olet peruuttanut ilmoittautumisesi tapahtumaan {{ event.name }}.
      Tervetuloa mukaan seuraaviin Kulttuurin kummilapset -tapahtumiin!
    </p>

    <address>
      <a href="https://kummilapset.hel.fi">kummilapset.hel.fi</a><br />
      <a href="mailto:kulttuurin.kummilapset@hel.fi"
        >kulttuurin.kummilapset@hel.fi</a
      >
    </address>
  </body>
</html>
