<!DOCTYPE html>
<html lang="fi">
  <head>
    <meta charset="utf-8" />
    <title>Muistutus: {{ event.name }}</title>
  </head>
  <body>
    <p>
      Olette ilmoittautuneet {{ localtime(occurrence.time).strftime('%d.%m.%Y
      klo %H.%M') }} järjestettävään tapahtumaan {{ event.name }}. Tapahtuman
      paikka on {{ occurrence.venue.name }}, {{ occurrence.venue.address }},
      tervetuloa!
    </p>

    <h2>Pääsylippu</h2>
    <p>
      Tämän viestin liitteenä on QR-koodi, joka on tapahtuman pääsylippu. Ota
      QR-koodi mukaan ja näytä se, kun saavut tapahtumaan.
    </p>

    <h2>Osallistumisen peruminen</h2>
    <p>
      Jos ette pääse osallistumaan tapahtumaan, peru osallistumisenne tapahtuman
      sivulla. Elokuusta 2025 alkaen sinun tulee perua viimeistään 48 tuntia
      ennen tapahtumaa.<br />
      <a href="{{ occurrence_url }}">Peruuta ilmoittautuminen</a>.
    </p>

    <p>Pian tavataan!</p>

    <address>
      <a href="https://kummilapset.hel.fi">kummilapset.hel.fi</a><br />
      <a href="mailto:kulttuurin.kummilapset@hel.fi"
        >kulttuurin.kummilapset@hel.fi</a
      >
    </address>
  </body>
</html>
