<!DOCTYPE html>
<html lang="fi">
  <head>
    <meta charset="utf-8" />
    <title>Palautekysely, Kulttuurin kummilapset</title>
  </head>
  <body>
    <p>Osallistuit juuri Kulttuurin kummilasten tapahtumaan.</p>
    <p>
      Keräämme osallistujilta palautetta, koska haluamme tehdä tapahtumista yhä
      parempia.
    </p>
    <p>
      Palautekysely löytyy osoitteesta:
      <a href="https://forms.office.com/r/FKRTi1QxmJ"
        >https://forms.office.com/r/FKRTi1QxmJ</a
      >
    </p>
    <p>Kyselyyn vastataan nimettömästi.</p>
  </body>
</html>
