Tack för din anmälan till {{ event.name }}, {{ localtime(occurrence.time).strftime('%d.%m.%Y på %H.%M') }}. Lokalen är {{ occurrence.venue.name }}, {{ occurrence.venue.address }}, välkomna! Du hittar uppgifterna om ditt evenemang genom att logga in på tjänsten Kulturens fadderbarn.

Biljett till evenemanget
Bifogat till detta meddelande finns en QR-kod som är biljetten till evenemanget. Ta med dig QR-koden och visa upp den när du kommer till evenemanget.

Avbokning av deltagande
Om du inte kan delta i evenemanget, vänligen avboka ditt deltagande på evenemangssidan. Från och med augusti 2025 måste du avboka senast 48 timmar före evenemanget.
{{ occurrence_url }}


https://kummilapset.hel.fi
kulttuurin.kummilapset@hel.fi
