<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="utf-8" />
    <title>Avbokning av anmälan: {{ event.name }}</title>
  </head>
  <body>
    <p>
      Du har avbokat din registrering till {{ event.name }}. Varmt välkommen
      till de följande evenemangen för Kulturens fadderbarn!
    </p>

    <address>
      <a href="https://kummilapset.hel.fi">kummilapset.hel.fi</a><br />
      <a href="mailto:kulttuurin.kummilapset@hel.fi"
        >kulttuurin.kummilapset@hel.fi</a
      >
    </address>
  </body>
</html>
