Olette ilmoittautuneet {{ localtime(occurrence.time).strftime('%d.%m.%Y klo %H.%M') }} järjestettävään tapahtumaan {{ event.name }}. Tapahtuman paikka on {{ occurrence.venue.name }}, {{ occurrence.venue.address }}, tervetuloa!

Pääsylippu
Tämän viestin liitteenä on QR-koodi, joka on tapahtuman pääsylippu. Ota QR-koodi mukaan ja näytä se, kun saavut tapahtumaan.

Osallistumisen peruminen
Jos ette pääse osallistumaan tapahtumaan, peru osallistumisenne tapahtuman sivulla. Elokuusta 2025 alkaen sinun tulee perua viimeistään 48 tuntia ennen tapahtumaa.
{{ occurrence_url }}

Pian tavataan!


https://kummilapset.hel.fi
kulttuurin.kummilapset@hel.fi
