You have signed up for {{ event.name }}, {{ localtime(occurrence.time).strftime('%d.%m.%Y at %H.%M') }}. The venue is {{ occurrence.venue.name }} at {{ occurrence.venue.address }}, we are looking forward to seeing you there!

Admission ticket
Attached to this message is a QR code which is the ticket for the event. Take the QR code with you and show it when you arrive at the event.

Cancellation of participation
If you are unable to attend the event, please cancel your participation on the event page. From August 2025, you must cancel at least 48 hours before the event.
{{ occurrence_url }}

See you soon!


https://kummilapset.hel.fi
kulttuurin.kummilapset@hel.fi
