<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Cancellation of your participation: {{ event.name }}</title>
  </head>
  <body>
    <p>
      You have cancelled your participation in {{ event.name }}. We are looking
      forward to seeing you at Culture Kids future events!
    </p>

    <address>
      <a href="https://kummilapset.hel.fi">kummilapset.hel.fi</a><br />
      <a href="mailto:kulttuurin.kummilapset@hel.fi"
        >kulttuurin.kummilapset@hel.fi</a
      >
    </address>
  </body>
</html>
