<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="utf-8" />
    <title>Responsformulär, Kulturens fadderbarn</title>
  </head>
  <body>
    <p>Du deltog nyligen i evenemanget Kulturens fadderbarn.</p>
    <p>
      Din respons är viktig för oss eftersom vi vill göra våra evenemang ännu
      bättre.
    </p>
    <p>
      Vi är tacksamma om du kan svara på en anonym responsenkät på adressen:
      <a href="https://forms.office.com/r/FKRTi1QxmJ"
        >https://forms.office.com/r/FKRTi1QxmJ</a
      >
    </p>
  </body>
</html>
