<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Welcome!</title>
  </head>
  <body>
    <p>Welcome!</p>

    <p>
      You have created a profile in the Culture Kids service. We will send event
      invitations to this e-mail address at least two times a year. You can use
      the service to sign up for your preferred events. You can also view the
      events on the Culture Kids website (<a href="https://kummilapset.hel.fi"
        >https://kummilapset.hel.fi</a
      >), once you login. The service and the events are free of charge.
    </p>

    <p>
      We hope that you will have pleasant experiences with culture and arts!
    </p>

    <h2>Culture Kids</h2>
    <p>
      Culture Kids is a programme that pairs children living in Helsinki with a
      sponsor from the world of arts and culture. All of the city’s little ones
      born in or after 2020 are invited to join. Every year, the sponsor will
      invite the child to at least two free-of-charge cultural events, promoting
      the child’s development and the family’s well-being. The sponsorship will
      continue until the child starts school.
        <ul>
            <li>Children born in 2020 are sponsored by the Helsinki Philharmonic Orchestra. </li>
            <li>2021 by Helsinki City Theatre, Finnish National Theatre, Svenska Teatern, Theatre ILMI Ö., Q-teatteri and Puppet Theatre Sampo.</li>
            <li>2022 by Cirko – Center for New Circus, Hotel and Restaurant Museum, Finnish Museum of Photography, Dance House Helsinki, Dance Theatre Hurjaruuth and Theatre Museum. </li>
            <li>2023 by Architecture and Design Museum Finland, Helsinki City Museum, National Museum of Finland, Association of Cultural Heritage Education in Finland and Helsinki University Museum Flame</li>
            <li>2024 by Helsinki City Library and Helsinki City Sports Services</li>
            <li>2025 by HAM Helsinki Art Museum, Amos Rex, The Finnish National Gallery’s Ateneum Art Museum, Museum of Contemporary Art Kiasma and Sinebrychoff Art Museum, Sointi Jazz Orchestra and UMO Helsinki Jazz Orchestra</li>
        </ul>
    </p>

    <p>
      The Culture Kids service is administered by the City of Helsinki Culture
      and Leisure Division.
    </p>
    <address>
      <a href="https://kummilapset.hel.fi">kummilapset.hel.fi</a><br />
      <a href="mailto:kulttuurin.kummilapset@hel.fi"
        >kulttuurin.kummilapset@hel.fi</a
      >
    </address>
  </body>
</html>
