<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="utf-8" />
    <title>Välkommen till Kulturens fadderbarn!</title>
  </head>
  <body>
    <p>Välkommen!</p>

    <p>
      Du har skapat en profil i tjänsten Kulturens fadderbarn. Du får inbjudningar per e-post minst två gånger om året till denna e-post och kan i tjänsten anmäla dig till de evenemang som bäst passar dig. Evenemangen visas också direkt på webbplatsen för Kulturens fadderbarn (<a href="https://kummilapset.hel.fi">https://kummilapset.hel.fi</a>) när du loggar in. Tjänsten och evenemangen är helt avgiftsfria. 
    </p>

    <p>Vi önskar er trevliga gemensamma stunder med kultur och konst!</p>

    <h2>Kulturens fadderbarn</h2>
    <p>
        Alla barn i Helsingfors som är födda 2020 och därefter har en egen kulturfadder. Kulturfaddern bjuder in barnet till minst två evenemang per år. Evenemangen är avgiftsfria samt stödjer barnets utveckling och familjens välbefinnande. Fadderskapet fortsätter tills barnet börjar skolan.<br>
        <ul>
            <li>Fadder till barn födda: 2020 Helsingfors stadsorkester</li>
            <li>2021 Helsingfors Stadsteater, Finlands Nationalteater, Svenska Teatern, Teatteri ILMI Ö., Q-teatteri och Dockteatern Sampo</li>
            <li>2022  Cirko - centrumet för nycirkus, Hotell- och restaurangmuseet, Dansens hus Helsingfors, Finlands fotografiska museum, Dansteatern Hurjaruuth och Teatermuseet.</li>
            <li>Kulturens fadderbarn förvaltas av Kultur- och fritidssektorn i Helsingfors stad.</li>
            <li>2023 Arkitektur- och designmuseet, Helsingfors stadsmuseum, Finlands Nationalmuseum,</li>
            <li>Föreningen för kulturarvsfostran i Finland och Vetenskapsmuseet Lågan (tidigare Helsingfors universitetsmuseum)</li>
            <li>2024 Helsingfors biblioteks– och idrottstjänster</li>
            <li>2025 HAM Helsingfors konstmuseum, Amos Rex, Nationalgalleriet dvs. Konstmuseet Ateneum, Museet för nutidskonst Kiasma och Konstmuseet Sinebrychoff, Sointi Jazz Orchestra och UMO Helsinki Jazz Orchestra</li>
        </ul>
    </p>

    <address>
      <a href="https://kummilapset.hel.fi">kummilapset.hel.fi</a><br />
      <a href="mailto:kulttuurin.kummilapset@hel.fi">kulttuurin.kummilapset@hel.fi</a>
    </address>
  </body>
</html>