Tervetuloa!

Olet luonut profiilin Kulttuurin kummilapset -palveluun. Saat tapahtumakutsut tähän sähköpostiin vähintään kaksi kertaa vuodessa ja palvelun kautta pääset ilmoittautumaan sinulle parhaiten sopiviin tapahtumiin. Tapahtumat löytyvät myös suoraan Kulttuurin kummilapset (https://kummilapset.hel.fi) -sivuilta, kun kirjaudut sisään.

Toivotamme hyviä yhteisiä hetkiä kulttuurin ja taiteen parissa!

Kulttuurin kummilapset

Jokaisella vuonna 2020 tai sen jälkeen syntyvällä helsinkiläisellä lapsella on oma kulttuurikummi. Kulttuurikummi kutsuu lapsen joka vuosi vähintään kahteen tapahtumaan. Tapahtumat ovat maksuttomia ja ne tukevat lapsen kehitystä ja perheen hyvinvointia. Kummius jatkuu siihen saakka kunnes lapsi aloittaa koulun.
Kummit lapsen syntymävuoden mukaan:
2020 Helsingin kaupunginorkesteri
2021 Helsingin Kaupunginteatteri, Suomen Kansallisteatteri, Svenska Teatern, Teatteri ILMI Ö., Q-teatteri ja Nukketeatteri Sampo
2022 Cirko - Uuden sirkuksen keskus, Hotelli- ja ravintolamuseo, Suomen valokuvataiteen museo, Tanssin talo, Tanssiteatteri Hurjaruuth ja Teatterimuseo
2023 Arkkitehtuuri- ja designmuseo, Helsingin kaupunginmuseo, Suomen kansallismuseo, Suomen kulttuuriperintökasvatuksen seura ja Tiedemuseo Liekki (ent. Helsingin yliopistomuseo)
2024 Helsingin kirjastopalvelut ja Helsingin liikuntapalvelut
2025 HAM Helsingin taidemuseo, Amos Rex, Kansallisgalleria: Ateneumin taidemuseo, Nykytaiteen museo Kiasma ja Sinebrychoffin taidemuseo sekä Sointi Jazz Orchestra ja UMO Helsinki Jazz Orchestra

Kulttuurin kummilapset -palvelua hallinnoi Helsingin kulttuurin ja vapaa-ajan toimiala.
https://kummilapset.hel.fi
kulttuurin.kummilapset@hel.fi
